.link-wrap > div {
    text-align: center;
}
.link-wrap > div > select{
    width:95%;
}
.link-title-detail{
    text-align: left;
    padding:5px 2%;
    color:#d42d26;
}
.menu-second-wrap{
    background: #d42d26;
    color:#fff;
    padding: .75rem 1.25rem;
}
#menu-second-select{
    display: none;
}
.list-group{
    border-radius: 0;
}
.content-wrap{
    border:1px solid rgba(0,0,0,.125);
    height:100%;
}
.content-title{
    position: relative;
    padding: .75rem .85rem;
}
.content-title .title-icon {
    position: absolute;
    top:0;bottom:0;
    margin:auto;
    width:4px;
    height:50%;
    background:#d42d26;
    display: inline-block;
}
.content-title .title-name{
    color: #d42d26;
}
.iconfont.icon-map{
    color:#f79500;
    font-size: 18px;
}
.breadcrumb{
    background:0;
    margin:0;
    padding:0;
}
.breadcrumb-item+.breadcrumb-item::before{
    content: ">";
}
.breadcrumb>li>a{
    color: #6c757d;
}
#content-list .icon-playcircle-fill{
    color:#f79500;
    font-size: 13px;
}
#content-list .list-group-item{
    border:none;
    border-bottom:1px dashed #dee2e6;
    margin: 0 10px;
    padding: 10px 0;
}
.list-group-item:hover{
    color: #d42d26;
    cursor: pointer;
}

.list-group-item.active{
    color: #d42d26;
    background-color: #fff;
    border-color: rgba(0,0,0,.125);
    cursor: default;
}

.article-wrap{
    height:100%;
    display: none;
    padding:10px 15px;
}

.page-wrap{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.my-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-page .page-link{
    color:#000;
    padding: .4rem .75rem;
    border-radius:.0rem !important;
    margin:0 5px;
    background:#f3f3f3;
}
.my-page .page-link:hover{
    background:#d42d26;
    color:#fff;
}
.btn-page-to{
    border-radius: 0;
    background: #f3f3f3;
    color: #d42d26;
    font-size: 12px;
    margin-right: 5px;
    border: 1px solid #dee2e6;
    padding: .4rem .75rem;
    line-height: 1.25;
}
.footer-img-wrap{
    display: flex;
    justify-content: space-between;
}
.footer-img-wrap>*{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    height:80px;
}
.qrcode-img{
    border: 5px solid rgba(0, 0, 0, .1);
}
.footer-visit{
    font-size: 14px;
    text-align: right;
}
.footer-visit>div:first-child{
    padding-top:25px;
}
.message{
    background: rgba(0, 0, 0, .1);
}
.message:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, .4);
}
.message>div{
    margin-top: -10px;
    font-size: 12px;
}
.message i{
    font-size: 2.5rem;
}

.pagination{
    margin:0;
}
.pagination-info{
    margin-right:10px;
}
.page-item.active .page-link{
    background-color: #d42d26;
    border-color: #d42d26;
}




/* message */
.message-wrap{
    display: none;
    padding:20px;
}
.message-wrap label{
    color: #d42d26;
    text-align-last: justify;
}
.message-wrap label.must::after{
    content: "*";
    color: #d42d26;
    position: absolute;
}
.message-wrap .form-control:focus{
    border-color: #d42d26;
    box-shadow: 0 0 5px #d42d26;
}
.message-wrap button{
    border-radius: 0;
    padding: 2px 15px;
    font-size: 13px;
}

@media (max-width: 768px) {
    .link-title-detail{
        background:#d42d26;
        color:#fff;
    }
    .menu-second-wrap{
        padding:5px 2%;
    }

    #menu-second-list,
    .link-title-detail>span{
        display: none;
    }
    
    #menu-second-select{
        display: inline;
    }
    .footer-visit>div:first-child{
        padding-top:0;
    }
    .pagination a{
        padding:0 !important;
        background:none !important;
        border:none;
    }
    .my-page .page-link:hover{
        color:#d42d26;
    }
    .btn-page-to{
        padding:0 !important;
        background:none !important;
        border:none;
    }
    .btn-page-to:hover{
        color: #d42d26;
        opacity: .8;
    }
    .pagination-info{
        display: none;
    }
}
