body {
  padding-top: 6.4rem;
}
body * {
  transition: all 0.3s;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header {
  background: rgba(255, 255, 255, 0.9);
}
.navbar {
  background-color: #d42d26;
}
.navbar .dropdown-item:hover {
  background: #d42d26;
  color: #fff;
}
.logo-img {
  width: 80px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-wrap {
  vertical-align: middle;
  display: inline-block;
}
.href-wrap > a {
  padding-left: 5px;
}
.cn-name {
  font-size: 1.1rem;
}
.en-name {
  font-size: 0.1rem;
}

#myCarousel img {
  height: 400px;
  object-fit: cover;
}

.guide-left {
  background: #d42d26;
  color: #fff;
}
.guide-left > div {
  min-width: 100px;
}
.guide-title::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  display: inline-block;
  margin-right: 5px;
}

.model-title {
  color: #d42d26;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#carouselExampleCaptions .carousel-caption {
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 20px;
}
#carouselExampleCaptions .carousel-caption hr {
  background: #fff;
}
#carouselExampleCaptions .carousel-indicators {
  justify-content: flex-end;
  margin-right: 0;
  margin-bottom: 0;
  text-align: left;
  padding: 5px 15px;
}

.nav-new {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.nav-new .nav-link.active,
.nav-new .show > .nav-link {
  background: #d42d26;
}
.nav-new .nav-item > a {
  color: #000;
  padding: 0.2rem 0.5rem;
}
.nav-new .nav-item > a:hover {
  color: #d42d26;
}
.nav-new .nav-item > a.active:hover {
  color: #fff;
}

#pills-new-tabContent .media {
  height: 140px;
}
#pills-new-tabContent .media > img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}
#pills-new-tabContent .media-body > p {
  height: 65px;
  overflow: hidden;
  margin: 0;
  font-size: 0.9rem;
}
.news-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-time {
  font-weight: normal;
  font-size: 14px;
  color: #7d7d7d;
}
.news-hr {
  margin: 0.5rem auto;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.img-bg-wrap {
  margin-bottom: 20px;
}
.img-bg-wrap > div{
  padding:0;
  overflow: hidden;
}
.img-bg-wrap > div:nth-child(1) > .bg-box {
  background-image: url(../assets/b1.jpeg);
}
.img-bg-wrap > div:nth-child(2) > .bg-box {
  background-image: url(../assets/b2.jpeg);
}
.img-bg-wrap > div:nth-child(3) > .bg-box {
  background-image: url(../assets/b3.jpeg);
}
.img-bg-wrap > div > .bg-box{
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
}
.img-bg-wrap .bg-box:hover{
  transform: scale(1.05);
}
.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  color: #fff;
  background-color: rgb(255 0 0 / 50%);
  display: flex;
  align-items: center;
  font-size: 22px;
}
.opacity>div{
  width:100%;
  height:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.opacity>div:hover{
  cursor: pointer;
  background:rgb(255 0 0 / 70%);
}
.min-logo {
  display: none;
}

#carouselExampleCaptions .carousel-item img{
  height: 480px;
  object-fit: cover;
}
/* @media (min-width: 768px){
  #carouselExampleCaptions .carousel-item img{
    max-height: 500px;
    object-fit: cover;
  }
} */

.links-box select {
  width: 100%;
  margin: 15px 0;
  height: 30px;
}
.links-box .first-select {
  margin-top: 60px;
}
.link-title {
  width: 100%;
  background: red;
  color: #fff;
  font-size: 18px;
  position: absolute;
  left: 0;
  font-weight: 600;
  padding: 5px 1.25rem;
}

.social-wrap .card-text{
  font-size: 12px;
  height: 30px;
}
.social-wrap img{
  height:120px;
  object-fit: cover;
}

.safety-production img{
  height: 200px;
  width:100%;
  object-fit: cover;
}
.safety-production .card-text{
  height: 80px;
  font-size: 12px;
}
footer {
  background-color: #d42d26;
  color: #fff;
  padding: 20px 5px;
}
.footer-left > div {
  font-size: 14px;
}
footer > div > p {
  margin: 0;
}
.qrcode-img {
  width: 100%;
  max-width: 100px;
}

/* 公共 */
.title-line{
  height: 1px;
  flex: auto;
  margin: 0 10px;
  border-top: 1px solid #ccc;
}
.btn-more{
  font-size: 12px;
  border-radius: 50px;
  padding: 0px 10px;
}
.shadow-sm{
  box-shadow: 0 0 0.325rem #e4e4e4 !important;
  border-color: #ece8e8 !important;
}
.a-href{
  cursor: pointer;
}
.carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border:none;
  box-shadow: 0 0 5px #656565;
}
.carousel-indicators .active {
  background-color: #d42d26;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 1;
}
.iconfont.icon-xindiantu{
  font-size: 30px;
}
.visit-wrap{
  display: flex;
  align-items: center;
}
.visit-wrap span{
  display: inline-block;
  width: 12px;
  height: 16px;
  background: #fff;
  margin: 0 1px;
  color: #000;
  font-size: 12px;
  text-align: center;
  border-radius: 1px;
}

@media (max-width: 992px) {
  body {
    padding-top: 3.7rem;
  }
  .container.header-top {
    display: none;
  }
  .min-logo {
    display: block;
    color: #fff;
  }
  .logo-img {
    width: 50px;
  }
  .navbar .navbar-collapse {
    margin-top: 10px;
  }
  .navbar .navbar-nav > .nav-item {
    margin: 3px 0;
  }

  #myCarousel img {
    height: 300px;
    object-fit: cover;
  }
  #carouselExampleCaptions img{
    height: 200px;
  }
  .social-wrap img{
    height: 200px;
  }
}
@media (min-width: 768px) {
  .social-wrap img{
    height: 120px;
  }
}